<% title "settings" %>
  <%= render "users/user_header" %>
<div class="row-fluid">
  <div class="span6 offset1 account-header">
    <%= render "shared/notices" %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <label>Password <i>(leave blank if you don't want to change it)</i></label>
      <%= f.password_field :password, :autocomplete => "off" %>

      <p>
        This information can be seen by anyone visiting your profile:
      </p>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :twitter %>
      <div class="input-prepend">
        <span class="add-on">@</span>
        <%= f.text_field :twitter %>
      </div>

      <%= f.label :website %>
      <div class="input-prepend">
        <span class="add-on">http://</span>
        <%= f.text_field :website %>
      </div>

      <%= f.label :bio %>
      <%= f.text_area :bio, :placeholder => "Who are you?" %>

      <%= f.submit "Update", :class => "button" %>
    <% end %>
  </div>
</div>
