<% title "settings" %>
  <%= render "users/user_header" %>
<div class="row-fluid">
  <div class="span6 offset1 content-heading">
    <%= render "shared/notices" %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <label>Password <i>(leave blank if you don't want to change it)</i></label>
      <%= f.password_field :password, :autocomplete => "off" %>

      <p>
        This information can be seen by anyone visiting your profile:
      </p>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :twitter %>
      <div class="input-prepend">
        <span class="add-on">@</span>
        <%= f.text_field :twitter %>
      </div>

      <%= f.label :website %>
      <div class="input-prepend">
        <span class="add-on">http://</span>
        <%= f.text_field :website %>
      </div>

      <%= f.label :bio %>
      <%= f.text_area :bio, :placeholder => "Who are you?" %>

      <%= f.submit "Update", :class => "button" %>
    <% end %>

    <h6>How can I change my avatar?</h6>
      <p class="text-small">
        Your avatar is automatically retrieved from <%= link_to "Gravatar", "https://en.gravatar.com/" %>. <br/>If you already have a Gravatar or Wordpress.com account you can <%= link_to "click here", "https://en.gravatar.com/emails" %> to change the image. <br/>If you don't have an account yet, head over to <%= link_to "Gravatar.com", "https://en.gravatar.com/" %> and create one, your avatar will be automatically linked to <%= link_to "makeitpersonal", "/" %>.
      </p>
  </div>
</div>
