<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <div class="row-fluid">
        <div class="span1">
          <%= link_to image_tag("logo-small.png"), root_path %>
        </div>

        <div class="span8">
          <% if current_user %>
            <% if current_user.follows?(@user) %>
              Looks like you're already following <%= @user.username %>. Good, good indeed...
            <% elsif current_user == @user %>
              This is your corner on the site. There are many others like it, but this one's yours.
            <% else %>
              <%= @user.username %> is a rather interesting fellow, wanna <%= link_to "follow him".html_safe, relationships_path(:followed_id => @user.id) %>?
            <% end %>
          <% else %>
            <%= random_sign_up_request %>
          <% end %>

        </div>

        <%= render "shared/toolbar" %>
      </div>
    </div>
  </div>
</div>


