<% title "loved songs" %>

<%= render "users/user_header" %>

<div class="row-fluid">
  <div class="span6 offset1 account-header">
    <h2>loves received</h2>
    <p>These are your songs that someone else has loved.</p>
    <%= render "shared/notices" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 song-list">
    <div class="row-fluid row-jump">
      <div class="span10 offset1 bordered">
        <p>
          <% @songs.each do |song| %>
            <%= link_to(user_song_path(song.user, song), :class => "song song-dropdown") do %>
              <%= song.name %>
              <i class="icon-arrow-right"></i>
            <% end %>
            <span class="by">
              (loved by <%= song.list_of_lovers %>)
            </span>
            <br/><br/>
          <% end %>
        </p>
      </div>
    </div>

  </div>

  <%= render "users/user_sidebar" %>
</div>

