<% title "loves received" %>

<%= render "users/user_header" %>

<div class="row-fluid">
  <div class="span6 offset1 content-heading">
    <h2>loves received</h2>
    <p>These are the loves your songs have received.</p>
    <%= render "shared/notices" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 song-list">
    <div class="row-fluid">
      <div class="span10 offset1 bordered">
        <% @songs.each do |song| %>
          <div class="song-cell">
            <%= link_to(user_song_path(song.user, song), :class => "song-cell-dark") do %>
              <%= song.name %>
              <i class="icon-arrow-right"></i>
            <% end %>
            <span class="by">
              <%= render "lovers", song: song %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <%= render "users/user_sidebar" %>
</div>

