<% title "loved songs" %>

<%= render "users/user_header" %>

<div class="row-fluid">
  <div class="span6 offset1 content-heading">
    <p class="description">These are the songs you have loved.</p>
    <%= render "shared/notices" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 song-list">
    <% @songs.each do |date, loves| %>
      <div class="row-fluid">
        <div class="span1 centered">
          <span class="date"><%= date.strftime("%b. %d").downcase %></span>
        </div>
        <div class="span10 bordered">
          <% loves.each do |love| %>
            <%= render love.song %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "users/user_sidebar" %>
</div>

