<div class="span3 bordered sidebar">
  <h2>actions</h2>
  <div class="actions">
    <%= link_to "Create new song", new_song_path %>
    <%= link_to "My account", account_path %>
    <%= link_to "Loved songs", loved_songs_path %>
    <%= link_to "Loves received", loves_received_path %>
    <%= link_to "View your profile", user_path(current_user) %>
    <%= link_to "Account information", edit_user_registration_path %>
  </div>
</div>
