  <div class="span3 bordered profile">
    <h2>actions</h2>
    <h3><%= link_to "Create new song", new_song_path %></h3>
    <h3><%= link_to "My account", account_path %></h3>
    <h3><%= link_to "Loved songs", loved_songs_path %></h3>
    <h3><%= link_to "Loves received", loves_received_path %></h3>
    <h3><%= link_to "View your profile", user_path(current_user) %></h3>
    <h3><%= link_to "Account information", edit_user_registration_path %></h3>
  </div>
