<% title "your profile" %>

<%= render "users/user_header" %>

<div class="row-fluid">
  <div class="span6 offset1 content-heading">
    <%= render "shared/notices" %>
    <% if current_user.songs.present? %>
      <% if current_user.blank_profile? %>
        <p>
          <em>(psst, remember to <%= link_to "complete your profile", edit_user_registration_path %> so others can reach you!)</em>
        </p>
      <% end %>
    <% else %>
      <p>
        Welcome. You don't have any songs yet, feel like <%= link_to "creating your first one?", new_song_path %>
      </p>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 song-list">
    <%= render "timeline_songs_by_date" %>
    <div class="row-fluid">
      <div class="span8 offset1">
        <%= paginate @songs, window: 100 %>
      </div>
    </div>
  </div>

  <%= render "users/user_sidebar" %>
</div>

