<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :login, "Email or username" %><br />
  <%= f.text_field :login %></div>

  <div><%= f.submit "Reset" %></div>
<% end %>

