<div class="span3 notes profile">
  <div class="bordered">
    <h2><%= @user.display_name %></h2>

    <%= render "shared/follow", :user => @user %>

    <p class="profile-followers">
      <strong><%= @user.followers.count %></strong> <%= link_to "Followers", followers_path(@user) %><br/>
      <strong><%= @user.followed_users.count %></strong> <%= link_to "Following", followings_path(@user) %><br/>
      <strong><%= @user.songs.count %></strong> <%= link_to "Songs", user_path(@user) %><br/>
    </p>

    <% if @user.twitter.present? %>
      <p class="big">
        <i class="icon-twitter"></i>
        <%= link_to "@#{@user.twitter}", "http://twitter.com/#{@user.twitter}" %>
      </p>
    <% end %>

    <% if @user.website.present? %>
      <p class="big">
        <i class="icon-home"></i>
        <%= link_to @user.website, "http://#{@user.website}" %>
      </p>
    <% end %>

    <p>
      <%= @user.bio %>
    </p>
  </div>
</div>
