<div class="span6 new-song">
  <%= form_for @song do |f| %>
  <h2>edit <%= f.submit "Update", :class => "button-inline button-primary button-without-margin right" %></h2>

    <%= f.text_field :artist, :autofocus => true %>

    <%= f.text_field :title %>

    <div class='form-group'>
      <%= f.check_box :hidden %>
      <%= f.label :hidden, "Hidden Song" %>
    </div>

    <%= f.text_area :lyrics, :placeholder => "Lyrics go here...", :id => "lyrics" %>

    <% if @song.youtube_url.empty? %>
      <div class="help-box">
        <%= link_to "Search for the video on YouTube", "http://www.youtube.com/results?search_query=#{@song.artist} #{@song.title}", :target => "_blank", :class => "youtube-hint"%>.
      </div>
    <% end %>

    <%= f.text_field :youtube_url, :placeholder => "YouTube URL (optional)", :id => "youtube" %>

    <div class="clear">
    </div>
    <%= f.submit "Update", :class => "button-inline right button-primary" %>
  <% end %>
</div>
