<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <div class="row-fluid">
        <div class="span1">
          <%= link_to image_tag("logo-small.png"), root_path %>
        </div>

        <div class="span8">
          <span>These are <%= link_to "#{@user.username}'s", user_path(@user.username) %> notes on <strong><%= @song.title.titleize %></strong> by <strong><%= @song.artist.titleize %></strong>.</span>
        </div>

        <%= render "shared/toolbar" %>
      </div>
    </div>
  </div>
</div>
