<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <div class="row-fluid">
        <div class="span1">
          <%= link_to image_tag("logo-small.png"), root_path %>
        </div>

        <div class="span8">
          <% if @song.user.trustable? %>
            <span>These are <%= link_to "#{@user.username.possessive}", user_path(@user) %> notes on <strong><%= @song.title %></strong> by <strong><%= @song.artist %></strong>.</span>
          <% else %>
            <span>These are <%= link_to "#{@user.username.possessive}", user_path(@user) %> notes on <strong><%= @song.title.titleize_with_caps %></strong> by <strong><%= @song.artist.titleize_with_caps %></strong>.</span>
          <% end %>
        </div>

        <%= render "shared/toolbar" %>
      </div>
    </div>
  </div>
</div>
