<% title "new song" %>

<%= render "users/user_header" %>

<div class="container">
  <div class="row">
    <div class="span6 new-song">
      <h2>edit</h2>
      <%= form_for @song do |f| %>
        <%= f.text_field :artist, :placeholder => "Artist", :autofocus => true %>

        <%= f.text_field :title, :placeholder => "Song Title" %>

        <%= f.text_area :lyrics, :placeholder => "Lyrics go here...", :id => "lyrics" %>

        <%= f.text_field :youtube_url, :placeholder => "YouTube URL (optional)", :id => "youtube" %>

        <div class="clear">
        </div>
        <%= f.submit "Update", :class => "button-inline right button-primary" %>
    </div>
    <% end %>

    <div class="span3 offset1 notes">
      <h2>tips</h2>

      <div class="bordered">
        <div id="step1" class="step-active">
          <%= render "tips" %>
        </div>
      </div>
    </div>
  </div>
</div>
