<% title @user.display_name  %>

<%= render "profile_header" %>

<div class="row-fluid">
  <div class="span6 offset1 account-header">
    <h2>recent songs</h2>
  </div>

  <%= render "shared/profile_sidebar" %>
</div>

<div class="row-fluid">
  <div class="span8 song-list profile-content">
    <% @user.recent_songs_by_date.each do |date, songs| %>
      <div class="row-fluid row-jump">
        <div class="span1 centered">
          <span class="date"><%= date.strftime("%b. %d").downcase %></span>
        </div>

        <div class="span8 bordered">
          <% songs.each do |song| %>
            <p>

              <%= link_to(user_song_path(@user, song), :class => "song song-dropdown") do %>
                <%= song.name %>
                <i class="icon-arrow-right"></i>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

