<% title "user: #{@user.username}"  %>

<%= render "profile_header" %>

<div class="row-fluid">
  <div class="span6 offset1 song-list">
    <h2>recent songs</h2>
    <% @user.songs_by_date.each do |date, songs| %>
      <h4><%= date.strftime("%b %d, %Y") %></h4>
      <% songs.each do |song| %>
        <%= link_to(user_song_path(@user.username, song), :class => "song-dropdown") do %>
          <%= song.name %> <span class="icon">P</span>
        <% end %>
        <br/>
      <% end %>
    <% end %>
  </div>

  <div class="span3 offset1 notes profile">
    <div class="bordered">

      <% if @user.name.present? %>
        <h2><%= @user.name %> (<%= @user.username %>)</h2>
      <% else %>
        <h2><%= @user.username %></h2>
      <% end %>

      <%= link_to "Follow", "", :class => "button button-primary" %>
      <%= link_to "Unfollow", "", :class => "button" %>

      <% if @user.twitter.present? %>
        <p class="big">
          <i class="icon-twitter"></i>
          <%= link_to "@#{@user.twitter}", "http://twitter.com/#{@user.twitter}" %>
        </p>
      <% end %>

      <% if @user.website.present? %>
        <p class="big">
          <i class="icon-home"></i>
          <%= link_to @user.website, "http://#{@user.website}" %>
        </p>
      <% end %>

      <p>
        <%= @user.bio %>
      </p>

    </div>
  </div>
</div>


