<% title @user.display_name  %>

<%= render "profile_header" %>

<div class="row-fluid">
  <div class="span6 offset1 content-heading">
    <%= render "shared/welcome_notice" %>
    <%= render "shared/notices" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 song-list profile-content">
    <%= render "songs_by_date" %>
    <div class="row-fluid">
      <div class="span8 offset1">
        <%= paginate @songs %>
      </div>
    </div>
  </div>
  <%= render "shared/profile_sidebar" %>
</div>

