<% title @user.username %>

<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <div class="row-fluid">
        <div class="span1">
          <%= link_to image_tag("logo-small.png"), root_path %>
        </div>

        <div class="span8">
          <%= random_greeting_for_user %>
        </div>

        <div class="span3 toolbar">
          <% if current_user %>
            <%= link_to "Create New Song", new_song_path, :class => "toolbar-text" %>
            <%= link_to(edit_user_registration_path, :class => "toolbar-icon", :rel => "tooltip", :data => { :placement => "bottom", :"original-title" => "Settings" }) do %>
              <span class="icon">f</span>
            <% end %>

            <%= link_to(destroy_user_session_path, :class => "toolbar-icon", :rel => "nofollow", :method => :delete, :data => { :placement => "bottom", :"original-title" => "Logout" }) do %>
              <span class="icon">X</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row-fluid">
  <div class="span6 offset1 song-list">
    <h2>recent songs</h2>
    <% @user.songs_by_date.each do |date, songs| %>
      <h4><%= date.strftime("%b %d, %Y") %></h4>
      <% songs.each do |song| %>
        <%= link_to(user_song_path(@user.username, song), :class => "song-dropdown") do %>
          <%= song.name %> <span class="icon">P</span>
        <% end %>
        <br/>
      <% end %>
    <% end %>
  </div>

  <div class="span3 offset1 notes">
<div class="bordered">

    <h2><%= @user.username %></h2>
    <% if @user.twitter.present? %>
      <p class="big">
        <i class="icon-twitter"></i>
        <%= link_to "@#{@user.twitter}", "http://twitter.com/#{@user.twitter}" %>
      </p>
    <% end %>

    <% if @user.website.present? %>
      <p class="big">
        <i class="icon-home"></i>
        <%= link_to @user.website, @user.website %>
      </p>
    <% end %>
</div>
  </div>
</div>


