<% title "new song" %>

<%= render "users/user_header" %>

<div class="container">
  <div class="row">
    <div class="span6 new-song">
      <h2>create a new song</h2>
      <%= form_for @song do |f| %>
        <%= f.text_field :artist, :placeholder => "Artist", :autofocus => true %>

        <%= f.text_field :title, :placeholder => "Song Title" %>

        <%= f.text_area :lyrics, :placeholder => "Lyrics go here..." %>

        <%= f.text_field :youtube_url, :placeholder => "YouTube URL (optional)" %>

        <div class="clear">
        </div>
        <%= link_to "Fetch Lyrics", "javascript:void(0);", :class => "button-inline fetch-lyrics", :id => "fetch-lyrics" %>
        <%= link_to "Next", "javascript:void(0);", :class => "button-inline right button-primary", :id => "set-video" %>
        <%= link_to "Publish", "javascript:void(0);", :class => "button-inline right button-primary publish", :id => "publish" %>
    </div>
    <% end %>

    <div class="span3 offset1 notes">
      <% if current_user.songs.present? %>
      <h2>tips</h2>
    <% else %>
      <h2 id="tips-title" data-content="These tips will help you along the process.">tips</h2>
      <script>
        $("#tips-title").popover({ placement: "right"});
        $("#tips-title").popover("toggle");
      </script>
      <% end %>

      <div class="bordered">

        <div id="step1" class="step-active">
          <p>
            Start by typing the artist's name and the song's title. Click <%= link_to "Fetch Lyrics", "javascript:void(0);", :class => "fetch-lyrics" %> so we can automatically fill them in for you.</p>
          <p>
            If we can't find them you will be able to paste them by hand.
          </p>

        </div>

        <div id="step2">
          <p>
            Awesome, we've found the lyrics for your song.
          </p>
          <p>
            You can begin to style them now:
          </p>

          <%= render "tips" %>

          <p>
            Click <%= link_to "Next", "javascript:void(0);", :class => "set-video" %> when you're ready to continue.
          </p>
        </div>

        <div id="step2-nolyrics">
          <p>
            Damn, we couldn't find the lyrics for your song :(</p>
          <p>
            You can <%= link_to "search for them in Google", "", :target => "_blank", :id => "google-hint" %> and paste them in the big text field.
          </p>

          <p>
            Once you've pasted the lyrics you can begin to style them:
          </p>

          <%= render "tips" %>

          <p>
            Click <%= link_to "Next", "javascript:void(0);", :class => "set-video" %> when you're ready to continue.
          </p>
        </div>

        <div id="step3">
          <p>
            We're almost done!
          </p>
          <p>
            If you want the song's page to include audio you should <%= link_to "find a video of the song in YouTube", "", :target => "_blank", :id => "youtube-hint"%>, copy the URL and paste them in the <em>YouTube URL</em> field.
          </p>

          <p>
            Click <%= link_to "Publish", "javascript:void(0);", :class => "publish" %> when you're ready to share your song with the world.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="overlay"></div>
<div id="spinner"></div>
