<% title "make it yours" %>

<%= render "users/user_header" %>

<div class="container">
  <div class="row">
    <div class="span6 lyric">
      <%= form_for @song do |f| %>
        <%= f.label :artist, "Artist" %>
        <%= f.text_field :artist, :autofocus => true %>

        <%= f.label :title, "Song" %>
        <%= f.text_field :title %>

        <%= f.label :lyrics, "Lyrics" %>
        <%= f.text_area :lyrics %>


        <%= f.label :title, "YouTube URL", :class => "small" %>
        <%= f.text_field :youtube_url %>


        <%= link_to "Fetch lyrics", "javascript:void(0);", :class => "btn", :id => "fetch-lyrics" %>


        <%= f.submit "Save song", :class => "btn" %>
    </div>
<% end %>

    <div class="span3 offset1 notes">
      Anthropomorphism or personification is any attribution of human characteristics (or characteristics assumed to belong only to humans) to other animals, non-living things, phenomena, material states, objects or abstract concepts, such as organizations, governments, spirits or deities. The term was coined in the mid 1700s.
    </div>
  </div>
</div>


<div class="overlay"></div>
<div id="spinner"></div>
