<% title "new song" %>

<%= render "users/user_header" %>

<div class="container">
  <div class="row">
    <div class="span6 new-song">
      <h2>create a new song</h2>
      <%= form_for @song do |f| %>
        <%= f.text_field :artist, :placeholder => "Artist", :autofocus => true %>

        <%= f.text_field :title, :placeholder => "Song Title" %>

        <div class="help-box" id="lyrics-help">
          We don't have lyrics for this song. <%= link_to "Search them on Google", "", :target => "_blank", :class => "google-hint" %>.
        </div>

        <%= f.text_area :lyrics, :placeholder => "Paste the lyrics here..." %>

        <div class="help-box" id="youtube-help">
          <%= link_to "Search for the video in YouTube", "", :target => "_blank", :class => "youtube-hint"%>.
        </div>

        <%= f.text_field :youtube_url, :placeholder => "YouTube URL (optional)" %>

        <div class="clear"></div>
        <%= link_to "Fetch Lyrics", "javascript:void(0);", :class => "button-inline fetch-lyrics", :id => "fetch-lyrics" %>
        <%= link_to "Next", "javascript:void(0);", :class => "button-inline right button-primary", :id => "set-video" %>
        <%= link_to "Publish", "javascript:void(0);", :class => "button-inline right button-primary publish", :id => "publish" %>

      <% end %>
    </div>
    <%= render "new_song_help" %>
  </div>
</div>
