<% title @song.name %>

<%= render "song_header" %>

<div class="container">
  <div class="row">
    <div class="span6 lyric">

      <% if current_user and current_user.owns?(@song) %>
        <p>
          (<%= link_to "edit song", edit_song_path(@song) %> |
          <%= link_to "delete", song_path(@song), :method => :delete, :style => "color: red" %>)
        </p>
      <% end %>
      <p>

        <%= @song.body %>
      </p>
    </div>

    <div class="span3 offset1 notes">
<p>

        <%= @song.embed %>
</p>



      <% @song.sidenotes.each do |note| %>
        <p class="bordered"><%= note %></p>
      <% end %>

    </div>
  </div>
</div>

<div class="lyric-extra">
  <%= image_tag "cherry-icon.png" %>
  <p>
    Share this song:<br/>
    <em><%= link_to user_song_url(@user, @song) %></em>
  </p>

  <%= render "samples" %>
</div>
