<% title @song.name %>

<%= render "song_header" %>

<div class="container">
  <div class="row">
    <div class="span6 lyric">

      <%= render "user_toolbar" %>
      <p>
        <%= @song.body %>
      </p>
    </div>

    <div class="span3 offset1 notes">

      <p>
        <%= @song.embed %>
      </p>

      <div class="sidenotes">
        <% @song.sidenotes.each_with_index do |note, i| %>
          <p class="sidenote-outer">
          <%= note %>
          </p>
        <% end %>
        <%= render "love" %>
      </div>
    </div>
  </div>
</div>

<div class="lyric-extra">
  <%= image_tag "cherry-icon.png" %>
  <p>
    Share this song:<br/>
    <input type="text" class="input-share"  value="<%= user_song_url(@user, @song) %>"/>
  </p>

  <%= render "samples" %>
</div>
