<div class="landing-left">
  <%= link_to image_tag("logo-big.png"), root_path %>

  <div class="landing-links">
    <% if current_user %>
      <%= link_to "my profile", account_path %>
      <%= link_to "new song", new_song_path %>
      <%= link_to "logout", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "login", "javascript:void(0)", :id => "toggle-login-form" %>
      <div class="login">
        <%= form_for("user", :url => user_session_path) do |f| %>
          <%= render "shared/login", :f => f %>
        <% end %>
        <div style="clear: both"></div>
      </div>
      <%= link_to "sign up", new_user_registration_path %>
    <% end %>
  </div>

  <footer>
    <%= link_to "Blog", "http://blog.makeitpersonal.co" %>
    <%= link_to "Contact", "/contact" %>
    <%= link_to "Disclaimer", "/disclaimer" %>
    <%= link_to "Credits", "/credits" %>
  </footer>
</div>


