<div class="landing-left">
  <%= link_to image_tag("logo-big.png"), root_path %>

  <div class="landing-links">
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>

  <footer>
    <%= link_to "Contact", "/contact" %>
    <%= link_to "Disclaimer", "/disclaimer" %>
    <%= link_to "Credits", "/credits" %>
  </footer>

</div>
