<%= render "landing_left" %>
<% title "credits" %>

<div class="manifesto">
  <p>
    <strong>makeitpersonal</strong> was created by <%= link_to "Federico Builes", "http://mheroin.com" %> and <%= link_to "Daniel Gutierrez", "http://oficiosvarios.co" %>.<br/> Find us on Twitter <%= link_to "@febuiles", "http://twitter.com/febuiles" %> and <%= link_to "@tzdt", "http://twitter.com/tzdt" %> respectively.
  </p>
</div>
