<%= render "landing_left" %>

<div class="manifesto">
  <p>We see life as an art form. What we paint in the canvas of our existence is what others will see when they're trying to find out who we are.</p>

  <p>makeitpersonal is an exploration of the human expression inherent in music. Many people find a connection to music through lyrics; musicians create narratives and carefully choose words, allowing the listener to make their own unique interpretations. We want to know about you and your interpretations, we want to see how they depict yourself.</p>

  <p><%= link_to "_why the lucky stiff", "http://en.wikipedia.org/wiki/Why_the_lucky_stiff" %> used to say that "tastes narrow and exclude people". However, we believe that our tastes define us and give the rest of the world an impression of who we really are; they're inviting and full of information. makeitpersonal allows everyone to share those tastes and the feelings behind them. We want to know about those special words that strike a chord inside you: the ones that made you anxious, the ones that cheered you up, the ones that describe your life or the ones that have marked you. We want others to get to know you through your favorite song lyrics.</p>

  <p>Check out some of these examples to see what we mean by making it personal:</p>

  <ul>
    <li><%= link_to "Pink Floyd &mdash; Two Suns in the Sunset".html_safe, "/febuiles/two-suns-in-the-sunset" %></li>
    <li><%= link_to "Frigthened Rabbit &mdash; Good Arms vs. Bad Arms".html_safe, "/febuiles/good-arms-vs-bad-arms" %></li>
    <li><%= link_to "A Wilhelm Scream &mdash; I Wipe My Ass With Showbiz".html_safe, "/febuiles/i-wipe-my-ass-with-showbiz" %></li>
  </ul>


  <p>We encourage you to <%= link_to "sign up", new_user_registration_path %> and get started. Don't hesitate to <%= link_to "contact us", "/contact" %> if you have any questions or concerns. We would honestly love to hear your feedback.</p>
</div>
