<p style="font-size: 2em; line-height: 1.25em;">makeitpersonal is a place where you can highlight, annotate and share your favorite lyrics.</p>

<p>We all can identify ourselves with a song.</p>

<p>Sometimes we love that song because the lyrics are telling our story. It could be that we feel the singer is talking directly to us, or who knows, maybe the text is fun and witty. Maybe we just like the goddamn song!<br/> Whatever it is, makeitpersonal is the place where you can take that music and express yourself through it.</p>

<p>Check out some of these examples to see what we mean by making it personal:</p>

<ul>
  <li><%= link_to "Jeff Rosenstock &mdash; I'm Serious, I'm Sorry".html_safe, "http://makeitpersonal.co/febuiles/i-m-serious-i-m-sorry" %>
  </li>
  <li><%= link_to "Deep Purple &mdash; Mean Streak".html_safe, "http://makeitpersonal.co/febuiles/mean-streak" %></li>
  <li><%= link_to "mewithoutYou &mdash; Fox's Dream of the Log Flume".html_safe, "http://makeitpersonal.co/febuiles/fox-s-dream-of-the-log-flume" %></li>
  <li><%= link_to "Pink Floyd &mdash; Two Suns in the Sunset".html_safe, "/febuiles/two-suns-in-the-sunset" %></li>
  <li><%= link_to "Frightened Rabbit &mdash; Good Arms vs. Bad Arms".html_safe, "/febuiles/good-arms-vs-bad-arms" %></li>
</ul>

<p>We encourage you to <%= link_to "sign up", new_user_registration_path %> to get started. If you have any comments, please <%= link_to "contact us", "/contact" %>.</p> We're powered by <a href="http://sendgrid.com">SendGrid</a>!
