<div class="header">
  <%= link_to image_tag("logo-small.png"), root_path %>
  <span>This is <%= link_to "febuiles", "" %> take on <strong>Hamor (con Hate)</strong> by <strong>Xhelazz</strong></span>
  <%= link_to "Make your own", "", :class => "action" %>
</div>

<div class="container">
  <div class="row">
    <div class="span6 lyric">
      <p>
        [Xhelazz]<br/>
        Con el fuego de la pasión cigarros enciendo<br/>
        una cama para dos debe ser ancha, para que quepa el odio en medio<br/>
        con sprays antiviolación graffitis dibujaré<br/>
        <em>de las tías, las heridas que mas duelen son las que dejan de hacerte...<br/>
          Duérmete con la luz encendida, es una forma<br/>
          así no estas solo, puedes abrazar a tu sombra,<br/></em>
        la guerra entre sexos ya es una costumbre<br/>
        el arma secreta de algunas mujeres...<br/>
        esta entre las piernas del hombre.<br/>
        No, nos enfademos... acostémonos ahora<br/>
        como Fran soy un camaleón, <em>en tu cama, leona</em>...<br/>
        Los celos nunca pasan de moda,<br/>
        pues cada uno solo a su casa<br/>
        que al menos las pajas no son celosas...<br/>
        Se nos aceleran los latidos, ¿Será el erotismo o la sexualidad?<br/>
        ¿Nos multarán el corazón por exceso de velocidad?<br/>
        Lo dije hace tiempo, echar un litro de más significa echar a alguien de menos.<br/>
        Todos buscáis a esas personas, a las que os llenan<br/>
        para poder vivir juntos, porque el amor es eso nena...<br/>
        envejecer sin darse cuenta,<br/>
        seguir viendo con veintidós añitos a quien tiene ya los cuarenta<br/>
        <em>        Estoy pervertido, solo me excita el sexo que imagino y no el que practico<br/>
          escribamos cartas románticas con cariño<br/>
          y si ya existe el sexo oral, inventemos el sexo escrito...<br/>        </em>
        pero . besos me das, me das desilusiones<br/>
        los cepillos de dientes, duran más que las relaciones<br/>
        pero que más da... si las lagrimas pudiesen hablar<br/>
        os contaríain lo mismo que acabáis de escuchar<br/>
      </p>

      <p>
        Cuesta construir relaciones estables<br/>
        lo nuestro es construir frases<br/>
        hablamos de hip hop. ¿sabes?<br/>
        hablamos de que amor se escribe con H.<br/>
      </p>

      <p>
        [Hate]<br/>
        ¿Amor? todos los caminos conducen a el<br/>
        si le das la vuelta al palabro, yo lo rechacé.<br/>
        Tenerlo todo y no quererlo, odiarlo<br/>
        prefiero estar solo y mal que bien acompañado<br/>
        Todo fue lluvia de emociones y nervios al principio<br/>
        luego convirtieronse en un ataque de los mismos.<br/>
        Después de 4 años, todo se gasta y se cierra un ciclo<br/>
        Soltero de oro... pobre niño rico<br/>
        El amor en conserva, se caduca...<br/>
        la intensidad provoca erosión a la pasión y ruptura.<br/>
        Les dio la pájara a estos dos pájaros que felices volaron<br/>
        hasta que las alas de esta urraca se cortaron.<br/>
        Recuerdo los primeros ratos de cama,<br/>
        tu conmigo y hacías el amor, y no la guarra.<br/>
        Había guerra entre sabanas, el colchón y la almohada<br/>
        fueron testigos de que lo que el odio amaba a su deseada<br/>
        Fuego intenso Rodríguez era mi nombre<br/>
        pero apagose, fue el acabose y desde entonces...<br/>
        en vez de despertarme y gritarte: "Buenos días, princesa"<br/>
        hasta ahora que este se levante y piensa en : Ojala me muera<br/>
        ¿A nadie como a ti? no lo juro<br/>
        aunque un lleve un siempre tatuado con todo el orgullo del mundo<br/>
        volví a fumar por nerviosismo<br/>
        ahora bebo el doble porque solo así estoy bien conmigo mismo.<br/>
        Este corazón vaga libre y errante<br/>
        sin ganas de compartirlo con nadie<br/>
        ahora soy tristemente feliz como antes<br/>
        y ya me canse de tanto llorar porque llegué a deshidratarme...<br/>
        Me odio a mi mismo porque reparto tanto amor<br/>
        que no me queda ni para mi... y solo siento dolor<br/>
        A mí alrededor solo veo sombras...<br/>
        mi mundo a oscuras es un hotel con vistas a una fosa...<br/>
        No distingo a las personas y oigo voces en mi interior<br/>
        que dicen que dejarlo todo es la solución<br/>
        sagrado R.A.P, solo en vos confío...<br/>
        me lanzaste un guiño y me case contigo... ¡te quiero infinito<br/>
      </p>
    </div>

    <div class="span3 offset1 notes">
      <!-- <iframe  height="23" width="265" src="http://www.youtube.com/embed/RMrpi5Z8doc?rel=0&autohide=0&fs=0&modestbranding=1&theme=light" frameborder="0" ></iframe> -->
      Anthropomorphism or personification is any attribution of human characteristics (or characteristics assumed to belong only to humans) to other animals, non-living things, phenomena, material states, objects or abstract concepts, such as organizations, governments, spirits or deities. The term was coined in the mid 1700s.
    </div>
  </div>
</div>

<div class="lyric-extra">
  <%= image_tag "cherry-icon.png" %>
  <p>
    Share this song:<br/>
    <strong><%= link_to "http://makeitpersonal.co/febuiles/hamor" %></strong>
  </p>

  <%= image_tag "s-icon.png" %>
  <p>
    Check out <%= link_to "febuiles" %> takes on:<br/>
    <%= link_to "La Dispute - Andria" %><br/>
    <%= link_to "The Mars Volta - L'Via L'viaquez" %><br/>
    <%= link_to "Immortal Technique - Obnoxious" %><br/>
  </p>
</div>


<footer>
  <p>
    <%= link_to "makeitpersonal" %> allows people to share feelings in their favoritue music.<br/>
    This is a fine establishment, we have a <%= link_to "blog" %>, a <%= link_to "contact" %> page and a <%= link_to "legal disclaimer", "" %>.<br/>
  </p>
</footer>
