<p class="share">
  Share this playlist <%= text_field_tag :playlist, playlist_url(playlist) %>
</p>

<% playlist.list.each do |song| %>
  <div class="song">
    <% if song.art.present? %>
      <%= image_tag song.art %>
    <% else %>
      <%= image_tag "unknown.png" %>
    <% end %>
    <span class="artist"><%= song.artist %></span>
    <span class="title"><%= song.title %></span>
    <span class="time"><%= song.time.strftime("%k:%M") %></span>
  </div>
<% end %>
