<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield(:title)} &mdash; ".html_safe if yield(:title) %>
      makeitpersonal
    </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link href="/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="//use.typekit.net/asb5tix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrap">
      <div class="main">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <footer>
          <div class="span1 mid">
            <span class="icon green">?</span>
          </div>
          <div class="span5">
            <p>
              <%= link_to "makeitpersonal" %> allows people to share feelings in their favoritue music.<br/>
            </p>
          </div>

          <div class="span1 mid">
            <span class="icon green">=</span>
          </div>

          <div class="span5">
            <p>
              This is an experiment. We don't have any legalese but you can read our <%= link_to "disclaimer here", "/disclaimer" %>.<br/>
              This is some other text that helps with the alignment.
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
