<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield(:title)} &mdash; ".html_safe if yield(:title).present? %>
      makeitpersonal
    </title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link href="/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="//use.typekit.net/asb5tix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="description" content="Annotate your favorite songs, highlight them and share them with the world. Express yourself through music." />
    <%= csrf_meta_tags %>
    <%= render "shared/ga" %>
  </head>

  <body>
    <div class="wrap">
      <div class="main">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <footer>
          <div class="span1 mid">
            <span class="icon green">?</span>
          </div>
          <div class="span5">
            <p>
              <%= link_to "makeitpersonal", "/" %> is an experiment in content sharing. Annotate your favorite songs, highlight them and share them with the world. Let them know who you are through your favorite music.
            </p>
          </div>

          <div class="span1 mid">
            <span class="icon green">=</span>
          </div>

          <div class="span5">
            <p>
              <%= link_to "Contact us", "/contact" %> if you have any comments.
              Read our <%= link_to "manifesto", "/manifesto" %>, our <%= link_to "blog", "http://blog.makeitpersonal.co" %> or our  <%= link_to "\"legal disclaimer\"", "http://makeitpersonal.co/disclaimer" %> (if you're really bored). <%= link_to "Follow us on Twitter", "http://twitter.com/botpersonal" %>.
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
