<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield(:title)} — " if yield(:title).present? %>
      makeitpersonal
    </title>
    <meta charset="UTF-8" />
    <%= stylesheet_link_tag    "pages" %>
    <%= javascript_include_tag "application" %>
    <link href="/assets/favicon.ico" rel="icon">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <meta name="description" content="Annotate your favorite songs, highlight them and share them with the world. Express yourself through music." />
    <%= csrf_meta_tags %>
    <%= render "shared/ga" %>
  </head>

  <body>
    <%= render "pages/landing_left" %>

    <div class="landing-body">
      <div class="notices">
        <% flash.each do |name, msg| %>
          <%= msg %><br/>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
