<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield(:title)} &mdash; ".html_safe if yield(:title).present? %>
      makeitpersonal
    </title>
    <%= stylesheet_link_tag    "landing" %>
    <%= javascript_include_tag "application" %>
    <link href="/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="//use.typekit.net/asb5tix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="description" content="Annotate your favorite songs, highlight them and share them with the world. Express yourself through music." />
    <%= csrf_meta_tags %>
    <%= render "shared/ga" %>
  </head>

  <body>
    <%= render "pages/landing_left" %>

    <div class="landing-body">
      <div class="notices">
        <% flash.each do |name, msg| %>
          <%= msg %><br/>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
