<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{yield(:title)} &mdash; ".html_safe if yield(:title).present? %>
      makeitpersonal
    </title>
    <%= stylesheet_link_tag    "landing" %>
    <%= javascript_include_tag "application" %>
    <link href="/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="//use.typekit.net/asb5tix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
    <%= render "ga" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
