<!DOCTYPE html>
<html>
  <head>
    <title>makeitpersonal</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link href="/assets/favicon.ico" rel="icon">
    <script type="text/javascript" src="//use.typekit.net/asb5tix.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <%= image_tag "question-mark.png", :class => "question-mark" %>
      <p>
        <%= link_to "makeitpersonal" %> allows people to share feelings in their favoritue music.<br/>
        This is a fine establishment, we have a <%= link_to "blog" %> and a <%= link_to "contact" %> page in case you want to reach us.
      </p>

      <%= image_tag "info-sign.png" %>
      <p>
        This is an experiment. We don't have any legalese but you can read our <%= link_to "disclaimer here", "/disclaimer" %>.
      </p>
    </footer>

  </body>
</html>
